body {
    font-family: "IBM Plex Sans", sans-serif;

}


.display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 1450px;
    height: 750px;
    margin: 0px 30px 30px 80px;
    border: 2px solid black;
    padding: 20px 0 20px 0;
    background-color:#55cfb626;
}
.field {
    display: flex;
    margin: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    color: black;
    font-family: serif;
    font-family: "IBM Plex Sans", sans-serif;
    align-items: center;
    justify-content: space-around;
    flex-basis: 15px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px;
    margin-bottom: 2px;
    border: solid 1px  #029879;
 }
 
#box1, #box2, #box5, #box6,
#box9, #box10, #box13, #box14,
#box17, #box18, #box21, #box22,
#box25, #box26, #box29, #box30,
#box33, #box34, #box37, #box38,
#box41, #box42, #box45, #box46,
#box49, #box50 {
    background-color:#55cfb626;
    color: #032c23;

}

#box3, #box4, #box7, #box8, 
#box11, #box12, #box15, #box16,
#box19, #box20, #box23, #box24,
#box27, #box28, #box31, #box32,
#box35, #box36, #box39, #box40,
#box43, #box44, #box47, #box48 {
    background-color: #029879e8;
    color: white;
}

button {
    background-color: #029879;
    color: white;
    padding: 2px;
    font-size: 15px;
    margin-top: 9px; 
}
#side-bar {
    display: flex;
    flex-direction: row;
    width: 1450px;
    justify-content: center;
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 80px;
    padding-bottom: 8px;
    border: solid 2px black;
    background-color: lightslategray;
    background-color: #029879;
    padding-top: 15px;
    color: white;
}

/* 
#box49, #box50 {
    display: none;
} */

#total {
    background-color: violet;
    /* margin: 20px;
    padding: 5px; */
}
#form {
    background-color: pink;
    background-color:#55cfb626;
    display: flex;
    padding: 5px;
    color: #046652;
    justify-content: center;
}

.hideme {
    display: none;
}

label {
    color: #046652;
    font-size: 20px;
    padding-right: 10px;
}
/* 
.round1 {
    background-color: orange;
}

.round2 {
    background-color: blue;
}

.round3 {
    background-color: red;
}

.round4 {
    background-color: yellow;
}

.round5 {
    background-color: teal;
} */