
.display-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 1450px;
    height: 750px;
    margin: 5px 30px 30px 30px;
    border: 2px solid black;
    padding: 20px 0 20px 0;
}
.field {
    display: flex;
    flex-basis: 300px;
    margin: 3px;
}
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2em;
    color: black;
    font-family: serif;
    font-family: "IBM Plex Sans", sans-serif;
    align-items: center;
    justify-content: space-around;
    flex-basis: 15px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3px;
    margin-bottom: 2px;
 }
 
#box1, #box2, #box5, #box6,
#box9, #box10, #box13, #box14,
#box17, #box18, #box21, #box22,
#box25, #box26, #box29, #box30,
#box33, #box34, #box37, #box38,
#box41, #box42, #box45, #box46,
#box49, #box50 {
    background-color:darkgray;

}

#box3, #box4, #box7, #box8, 
#box11, #box12, #box15, #box16,
#box19, #box20, #box23, #box24,
#box27, #box28, #box31, #box32,
#box35, #box36, #box39, #box40,
#box43, #box44, #box47, #box48 {
    background-color: lightgray;
}

#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
    padding-left: 40px;
    padding-top: 40px;
}

/* 
#box49, #box50 {
    display: none;
} */

#total {
    background-color: violet;
    margin: 20px;
    padding: 5px;
}
#form {
    background-color: pink;
    display: flex;
    flex-basis: 800px;
    margin: 20px;
    padding: 5px;
}

.hideme {
    display: none;
}